.topic-j{
    font-size:40px;
    margin: 30px;
    width: 76%;
  }
  .img-j{
    width: 62%;
    margin-left: 20%;
  }
  .desert-para{
    font-size: 80%;
  }
  .head{
    padding: 50px 0px 35px 30px
  }
  .img36{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
  }
  .img38{
    margin: 5px;
    border: 1px solid #ccc;
   
  }