.com-head{
    color: #ff8d70;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 15%;
}
.com-note{
    font-size: 20px;
}
.com-form{
    padding: 12px;
    color: #999;
    line-height: 1em;
    background-color: #EEE;
    font-size: 18px;
    border-width: 0px;
    display:flex;
    padding-bottom: 1em;
    margin-bottom: 15px;
   
}
.form-control{
    padding: 12px;
    color: #999;
    line-height: 1em;
    background-color: #EEE;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.com-btn{
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 40px;
    text-align: center;
    font-family: monospace;
    margin-left: 40%;
    font-size: 75%;
}
